body {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  text-align: center;
}

textarea {
  width: 100%;
  
}

label {
  color: green;
}

.btn {
  font-size: 1.0em;
  background-color: green;
  border: 1px solid black;
  margin: 10px 0;
}

.btn:hover {
  background-color: lightgreen;
}

#word-count {
  margin: 10px;
}

#error-msg {
  color: red;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode button {
  background-color: darkblue;
}

.dark-mode button:hover {
  background-color: blue;
}

.dark-mode label {
  color: black;
}
