body {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  text-align: center;
}

textarea {
  width: 100%;
  
}

label {
  color: blue;
}

.btn {
  font-size: 1.0em;
  background-color: green;
  border: 1px solid black;
  margin: 10px 0;
}

.btn:hover {
  background-color: lightgreen;
}

#word-count {
  margin: 10px;
}
